@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #a44a3f;
  font-family: 'Roboto';
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: #f6f4d2;
  border-radius: 5px;
  width: 35vw;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #a44a3f;
  font-family: 'Poiret One';
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: normal;
}

/* Filter Butons */
#btnContainer {
  display: flex;
  width: 100%;
  border-radius: 5px;
}

.btn {
  background: #a44a3f;
  border: 2px solid #a44a3f;
  color: #fff;
  padding: 10px 15px;
  width: 40%;
  font-family: 'Roboto';
}

.btn.toggle-btn[aria-pressed="true"] {
  background: #f19c79;
  border: 2px solid #a44a3f;
}

/* To Do List Styles */
li {
  display: flex;
  align-items: center;
  margin: 10px 0 10px -40px;
  padding: 5px;
  border-radius: 5px;
  background-color: #b5bd8f;
  font-size: 0.9em;
  color: #a44a3f;
}

#no-tasks {
  color: #a44a3f;
  font-family: 'Poiret One';
  text-transform: uppercase;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

/* Custom Emoji Checkbox */
input[type="checkbox"] {
  display: none;
}

.check + label:after {
  content: "☐";
  font-size: 1.5em;
  margin-left: 5px;
  cursor: pointer;
}

.check:checked + label:after {
  content: "☑";
  opacity: 1;
}

/* Task Name Styling */
#task {
  padding-left: 5px;
  width: 90%;
}

/* Task Priority Labels */
.level-label {
  font-size: 0.5em;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  letter-spacing: 0.2em;
}

#high {
  background-color: #a44a3f;
  color: #f6f4d2;
}

#medium {
  background-color: #f19c79;
  color: #f6f4d2;
}

#low {
  color: #b6c084;
  background-color: #f6f4d2;
}

/* Delete Task Styles */
#delete {
  border: none;
  background: transparent;
}

/* Check off task & delete task hover styles */
#check:hover,
#delete:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Input & Priority Styles */
input[type="text"], select {
  display: block;
  width: 100%;
  background: #a44a3f;
  color: white;
  border: none;
  padding: 15px;
  margin-bottom: 15px;
  font-family: 'Roboto';
}

input[type="text"] {
  width: 95%;
}

/* Add Task Btn Styles */
button[type="submit"] {
  background: #a44a3f;
  border: none;
  width: 100%;
  padding: 15px;
  color: white;
  font-family: 'Roboto';
}


/* Tablet */
@media screen and (min-width: 700px) and (max-width: 1000px) {
  #container {
    width: 75vw;
    height: 80vh;
    padding: 0;
  }

  li {
    font-size: 1.25em;
    height: 5vh;
  }

  .check + label:after {
    margin-right: 10px;
  }

  .level-label {
    font-size: 0.75em;
    padding: 10px;
  }

  h1 {
    height: 10%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  }

  #btnContainer {
    height: 10%;
    padding: 20px;
    box-sizing: border-box;
  }

  .btn {
    width: 33%;
  }

  #task-list {
    height: 35%;
    padding: 20px;
    box-sizing: border-box;
  }

  #form-container {
    position: relative;
    height: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #form-container {
    height: 45%;
  }

  form {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #d4e09b;
    border-radius: 0 0 5px;
  }
}

/* Mobile */
@media screen and (max-width: 699px) {
  #container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    border-radius: 0;
  }

  ul {
    margin: 0;
  }

  li {
    font-size: 1em;
    height: 5vh;
    border-bottom: 1px solid #a44a3f;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  .check + label:after {
    margin-right: 10px;
  }

  .level-label {
    font-size: 0.75em;
    padding: 10px;
  }

  h1 {
    height: 10%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  }

  #btnContainer {
    height: 5%;
    box-sizing: border-box;
  }

  .btn {
    width: 40%;
  }

  #task-list {
    height: 35%;
    box-sizing: border-box;
  }

  #form-container {
    position: relative;
    height: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  form {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #d4e09b;
    border-radius: 0 0 5px;
  }

  input[type="text"] {
    width: 91%;
  }
}